*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Assistant', sans-serif;
    background-color: #282461;
    color: #EBECF0;
}

main {
    max-width: 100%;
    margin: 0 auto;
}


header {
    background-color: #282461;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
}

header img {
    max-width: 30rem;
    max-height: 10rem;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
   align-items: center;
   align-content: center;
}

.container-menu ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5rem;
}

.container-menu li {
    font-size: 1.8rem;
    margin-right: 2rem;
    list-style: none;
}

.container-menu a {
    text-decoration: none;
    color: #EFEFEF;
}

.container-menu a:hover {
    cursor: pointer;
    color: rgb(190, 182, 182);
}

/* ------MAIN-------*/

#banner {
    background-image: url('./assets/banner6.png');
    background-size: cover;
	background-position: 35%;
    height: 45rem;
    padding-top: 10rem;
    padding-left: 5rem;
}

h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 5rem;
    color: #FF9973;
}

#banner p {
    margin-top: 1.5rem;
    font-size: 2rem;
}

#banner button {
    height: 4rem;
    width: 20rem;
    border-radius: .8rem;
    background-color: #EBECF0;
    border: none;
        
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 15rem;
}

#banner button a{
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    font-size: 1.6rem ;
    font-weight: 700;
    color: #282461;
}

#banner button:hover {
    cursor: pointer;
    background-color: rgb(190, 182, 182);
}


/* ----- SOBRE NÓS ------*/
#sobrenos {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#sobrenos h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 5rem;  
    color: #E898AC;
}

#sobrenos p {
    margin-left: 3rem;
    max-width: 45rem;
    font-family: 'Assistant', sans-serif;
    font-size: 1.8rem;
    color: #EBECF0;
}


/* ----- SOLUÇÕES------*/
#solucoes {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: #EBECF0;
}

h3 {
    font-family: 'Antonio', sans-serif;
    font-size: 3rem;
    color:#282461;
    text-align: center;
}

.container-solucoes {
    margin-top: 3rem; 

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    
     
}

#solucoes .container-solucoes li {
    list-style: none;
    color: black;
    margin-top: 3rem;
    max-width: 25rem;
    margin-right: 5rem;
    margin-left: 5rem;
    
}

.container-solucoes li p {
    font-weight: 400;
    color:#282461;
    
    font-size: 1.6rem;
}

.container-solucoes li p strong{
    font-weight: 700;
    color:#282461;
    margin-top: 1rem;
    font-size: 2rem;
}

.container-solucoes li img {
    max-height: 13rem;
    max-width: 13rem;
    margin-top: 1rem;
}

/* ---- SAIBA MAIS ----*/

#saiba-mais {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;

}

h4 {
    font-family: 'Antonio', sans-serif;
    font-size: 3rem;
    color: #EBECF0;
}

.container-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    list-style: none;

    margin-top: 5rem;
}


.post-image-one{
    margin: 0 auto;
    background-image: url("https://miro.medium.com/v2/resize:fit:720/format:webp/1*0CIyZ2b5lvOf8qc44auuoA.jpeg");
    background-position: 0%;
    height: 20rem;
    max-width: 30rem;
    
}

.post-image-two{
    margin: 0 auto;
    background-image: url("https://miro.medium.com/v2/resize:fit:720/format:webp/1*9iZMSX_YVV15E97GmWu88w.jpeg");
    background-position: 0%;
    height: 20rem;
    max-width: 30rem;
}

.post-image-three{
    margin: 0 auto;
    background-image: url("https://miro.medium.com/v2/resize:fit:720/format:webp/1*LyVDuIMjZQ4S4DvVkfdq6Q.png");
    background-position: 40% 10%;
    height: 20rem;
    max-width: 30rem;
}

.container-posts p {
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    margin-top: 1rem;
    max-width: 30rem;
}

.container-posts button a{
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
    font-family: "Assistant", sans-serif;
    text-decoration: none;

}

.container-posts button{
    height: 4rem;
    width: 15rem;
    border-radius: .5rem;
    background-color: #EBECF0;
    border: none;
    
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.container-posts button:hover {
    cursor: pointer;
    background-color: rgb(190, 182, 182);
   
}



/* ----- CONTATO ------*/
#contato h5 {
    text-align: center;
    font-family: "Antonio", sans-serif;
    font-size: 3rem;
    color: #282461;
}

#contato {
    background-color: #EBECF0;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#contato .container-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contato img {
  height: 25rem;
}

#contato .container-contato-pbutton{
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 5rem;
}

#contato p{
    margin-top: 2rem;
    font-family: 'Assistant', sans-serif;
    font-size: 1.8rem;
    max-width: 40rem;
    color: #282461;
}

#contato button {
    height: 4rem;
    width: 15rem;
    align-items: center;
    margin-top: 1rem;
    
    border-radius: .5rem;
    background-color: #FF9973;
    border: none;    
}

#contato button a{
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-decoration: none;
    color: #EBECF0;
    align-items: center;

}

#contato button:hover {
    cursor: pointer;
    background-color: #cda293;
}

#contato #email a{
    text-decoration: none;
    color: #282461;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    
    display: flex;
    justify-content: center;
    
}

/* ----- FOOTER ---- */
footer {
   
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* ---- MEDIA QUERIES ---- */
@media (max-width: 48em) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem 3rem 1rem 3rem;
    }

    .container-menu {
        margin-left: 3rem;
    }

    header img {
        max-width: 25rem;
        max-height: 8rem;
    }

    .container-menu li {
        font-size: 1.6rem;
    }


    /*   banner   */
    #banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
                
        max-height: 20rem;
        padding-left: 2rem;
    }

    #banner h1 {
        font-size: 2rem;
        padding-top: 2rem;

    }
    
    #banner p {
        font-size: 1.4rem;
    }

    #banner button {
        max-width: 15rem;
        padding: .5rem;
    }

    #banner button a {
        font-size: 1.2rem;
    }

    /*   sobre nós    */

    #sobrenos {
        
        padding: 5rem 5rem 5rem 5rem;
    
        display: flex;
        flex-direction: column;
        align-items: center;
       
        text-align: center;
    }

    #sobrenos h2 {
        font-size: 2rem;  
    }

    #sobrenos p {
        max-width: 45rem;
        font-size: 1.4rem;
    }


    /*    soluções   */

    #solucoes {
        padding-right: 0;
        padding-left: 0;
            }

    #solucoes h3 {
        font-size: 2rem;
    }
    
    #solucoes .container-solucoes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        margin-top: 3rem;
        list-style: none;
    
        gap: 2rem;    
    }

    #solucoes .container-solucoes li {
        max-width: 20rem;
        flex-wrap: wrap;
    }
    
    #solucoes .container-solucoes li p {
        font-size: 1.4rem;
        max-width: 30rem;
    }
    
    .container-solucoes li img {
        max-height: 10rem;
        max-width: 10rem;
    }

    /*     saiba mais    */
   
    h4 {
        font-family: 'Antonio', sans-serif;
        font-size: 2rem;
    }
    
    .container-posts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        max-width: 100%;
    }
    
    .container-posts p {
        max-width: 35rem;
    }
    
    /*    contato   */
    #contato h5 {
        font-family: 'Antonio', sans-serif;
        font-size: 2rem;
    }
    
    #contato .container-contato {
        display: flex;
        flex-direction: column;  
        align-items: center;
        justify-content: center;         
    }

    #contato .container-contato-pbutton{
        margin-right: 0;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    #contato .container-contato p{
        max-width: 35rem;
        text-align: center;
        font-size: 1.6rem;
    }
    
    #contato .container-contato button {
       
        align-items: center;
        height: 4rem;
        width: 15rem;
    
        background-color: #FF9973;
    }

    .container-contato button a{
        color: white;
        font-size: 1.4rem;
    }
    
    .container-contato button:hover {
        background-color: rgb(180, 179, 179);
    }

    #contato .container-contato-img{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    #contato #email a{
        font-size: 2rem;
        display: flex;
        justify-content: center;
        
    }

}
